:root {
	--primary: #730707;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
body,
html {
	width: 100%;
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.logo {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: black;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background-color: var(--primary);
	padding: 15px;
}
.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header a {
	color: white;
}

.header__logo {
}

.header__nav {
}

.header__nav-list {
	display: flex;
	justify-content: space-between;
	gap: 45px;
}

.header__nav-item {
	font-weight: 600;
	font-size: 20px;
}
.decor {
	position: relative;
}

.decor:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: white;
	position: absolute;
	bottom: -4px;
	left: 0;
	opacity: 0;
	transition: 0.3s ease;
}

.decor:hover:before {
	bottom: -2px;
	opacity: 1;
}

.footer {
	background-color: var(--primary);
	padding: 50px 0;
	color: white;
}
.img__cat {
	height: 500px;
	width: 500px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.features__title {
	font-size: 25px;
	font-family: "Courier New", Courier, monospace;
	color: black;
	margin-top: 25px;
}
.text__myhobby {
	margin-top: 25px;
	font-size: 25px;
}
.title {
	text-decoration: underline;
}

.container__allinfo {
	gap: 40px;
	font-family: "Courier New", Courier, monospace;
}

.footer a {
	color: white;
}

.footer__body {
	display: flex;
	justify-content: space-between;
}
.footer__logo {
}

.footer__text {
	opacity: 0.6;
	text-align: center;
	padding-top: 20px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__item {
	font-weight: 700;
	font-size: 20px;
}

.footer__link {
}

.wrapper {
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
.span__underline {
	text-decoration: underline;
}
.span {
	text-decoration: underline;
}
